<div *ngIf="!loading">
  <div class="kkn-form" *ngIf="complete.screen === 'login'">
    <div class="kkn-form-support">
      <img
        src="https://image.freepik.com/free-vector/rocket-shop-store-logo-vector-icon-download_7688-349.jpg"
        alt=""
      />
    </div>
    <form #form="ngForm" (ngSubmit)="user.onLogin(form)">
      <div class="kkn-field">
        <i class="fas fa-user-circle"></i>
        <input
          type="text"
          name="username"
          id="username"
          [(ngModel)]="user.user.username"
          (ngChangeModel)="user.changeUsername($event)"
          [placeholder]="query.user.username"
          autocomplete="off"
          required
        />
      </div>
      <div class="kkn-field">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          name="password"
          id="password"
          [(ngModel)]="user.user.password"
          (ngChangeModel)="user.changePassword($event)"
          [placeholder]="query.user.password"
          autocomplete="off"
          required
        />
      </div>
      <div class="kkn-field" id="kkn-field">
        <button class="kkn-btn-v1" type="submit">
          {{ query.general.login }}
        </button>
      </div>
      <div class="kkn-field" id="kkn-field">
        <a (click)="complete.changeScreen('register')">{{
          query.general.create_new
        }}</a>
        <a (click)="complete.changeScreen('forgotted')">{{
          query.general.forgotted
        }}</a>
      </div>
    </form>
  </div>
  <div class="kkn-form" *ngIf="complete.screen === 'register'">
    <div class="kkn-form-support">
      <img
        src="https://image.freepik.com/free-vector/rocket-shop-store-logo-vector-icon-download_7688-349.jpg"
        alt=""
      />
    </div>
    <form #form="ngForm" (ngSubmit)="user.onRegister(form)">
      <div class="kkn-field">
        <i class="fas fa-user-circle"></i>
        <input
          type="text"
          name="username"
          id="username"
          [(ngModel)]="user.user.username"
          (ngChangeModel)="user.changeUsername($event)"
          [placeholder]="query.user.username"
          autocomplete="off"
          required
        />
      </div>
      <div class="kkn-field">
        <i class="fas fa-at"></i>
        <input
          type="email"
          name="email"
          id="email"
          [(ngModel)]="user.user.email"
          (ngChangeModel)="user.changeEmail($event)"
          [placeholder]="query.user.email"
          autocomplete="off"
          required
        />
      </div>
      <div class="kkn-field">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          name="password"
          id="password"
          [(ngModel)]="user.user.password"
          (ngChangeModel)="user.changePassword($event)"
          [placeholder]="query.user.password"
          autocomplete="off"
          required
        />
      </div>
      <div class="kkn-field">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          [(ngModel)]="user.user.confirm_password"
          (ngChangeModel)="user.changeConfirmPassword($event)"
          [placeholder]="query.user.confirm_password"
          autocomplete="off"
          required
        />
      </div>
      <div class="kkn-field" id="kkn-field">
        <button class="kkn-btn-v1" type="submit">
          {{ query.general.register }}
        </button>
      </div>
      <div class="kkn-field" id="kkn-field">
        <a (click)="complete.changeScreen('login')">{{
          query.general.already
        }}</a>
      </div>
    </form>
  </div>
  <div class="kkn-form" *ngIf="complete.screen === 'forgotted'">
    <div class="kkn-form-support">
      <img
        src="https://image.freepik.com/free-vector/rocket-shop-store-logo-vector-icon-download_7688-349.jpg"
        alt=""
      />
    </div>
    <form #form="ngForm" (ngSubmit)="user.onReset(form)">
      <div class="kkn-field">
        <i class="fas fa-search"></i>
        <input
          type="text"
          name="usernameOr"
          id="usernameOr"
          [(ngModel)]="user.user.token"
          (ngChangeModel)="user.changeToken($event)"
          [placeholder]="query.user.usernameOr"
          autocomplete="off"
          required
        />
      </div>
      <div class="kkn-field" id="kkn-field">
        <button class="kkn-btn-v1" type="submit">
          {{ query.general.reset }}
        </button>
      </div>
      <div class="kkn-field" id="kkn-field">
        <a (click)="complete.changeScreen('login')">{{
          query.general.already
        }}</a>
      </div>
    </form>
  </div>
</div>
